body {
    background-color: #B8E4FF;
}

.volver-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}

#TituloPublicacion h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-family: Calibri, sans-serif;
}

#myComboBox {
    width: 65vw;
    border-radius: 10px;
    height: 30px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
}

#ImagenP h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-family: Calibri, sans-serif;
}

#cuadroImagen {
    border: 2px dashed #ccc;
    padding: 10px;
    text-align: center;
    width: 400px;
    height: 400px;
    margin: 20px auto;
    cursor: pointer;
    position: relative;
    background-color: white;
}

#cuadroImagen input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#cuadroImagen label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#cuadroImagen i {
    font-size: 5em;
}

#descripcionProducto {
    text-align: center;
    margin: 20px auto;
    max-width: 1000px;
}

#descripcionProducto h2 {
    margin-bottom: 10px;
    font-family: Calibri, sans-serif;
    font-size: 30px;
}

#txtDescripcion {
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    max-width: 100%;
}

#HabilidadJuguete {
    width: 65vw;
    border-radius: 10px;
    height: 30px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
}

#PublicoDes h1 {
    font-size: 30px;
    font-family: Calibri, sans-serif;
    text-align: center;
}

#labelEdad label {
    font-size: 30px;
    font-family: Calibri, sans-serif;
    text-align: center;
}

#labelEdad input[type="number"] {
    width: 300px;
    height: 30px;
    font-size: 16px;
    text-align: center;
}

#gender h1 {
    font-size: 30px;
    font-family: Calibri, sans-serif;
    text-align: center;
}

#GenderCombox {
    width: 300px;
    height: 30px;
    font-size: 16px;
    margin: 0 auto;
    width: 60vw;
    margin-left: 20%;
}

#realizarButton {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #5c5858;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}